
#welcome{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #9dfaa8;
}
#welcome #about {
  padding: 50px;
  text-align: center;
}
#welcome .get_started{
  background-color: red;
}