*{
  margin: 0;
  padding: 0;
  font-family: Arial;
}
header{
  position: fixed;
  width: 100%;
  background-color: #9dfaa8;
  box-shadow: 0 1px 2px 0 grey;
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  color: #2a464d;
}
.logo{
  font-weight: 300;
  font-size: 36px;
  color: tomato;
}
.logo span{
  color: gold;
}
#sideMenu{
  display: none;
  position: absolute;
  position: fixed;
  width: 90%;
  height: 100%;
  background-color: snow;
  overflow-y: scroll;
}
#sideMenu p{
  float: right;
  margin: 10px;
}
main {
  margin: 50px 0;
  width: 100%;
  height: 100%;
}
#categories {
  padding: 20px;
}
#categories table {
  table-layout: fixed;
  width: 100%;
}
#categories tbody td{
  text-align: center;
}
#categories table td{
  padding: 10px;
  font-weight: 400;
  text-transform: capitalize;
}
#categories table td a{
  text-decoration: none;
  color: #2a464d;
}
#categories table td img{
  margin-top:  10px;
  width: 40%;
  
}
#fd div{
  padding: 30px;
  font-weight: 400;
}
.feed img{
  width: 100%;
}
footer{
  position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 3px 6px 0 #9dfaa8;
}
footer ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 5px;
  background-color: #9dfaa8;
}
footer ul li{
  text-align: center;
  color: #2a464d;
  font-size: 20px;
}
.ff{
  font-size: small;
}